<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.wearabledemo" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light" >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <service
            android:name= ".service.DataSyncService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name= "com.google.android.gms.wearable.BIND_LISTENER"  />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.WearActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AmbientActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/title_ambient_activity"
            android:taskAffinity="" >
        </activity>

        <activity
            android:name=".activity.CardActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/title_card_activity"
            android:taskAffinity="" >
        </activity>

        <activity
            android:name=".activity.ListActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/title_list_activity"
            android:taskAffinity="" >
        </activity>

        <activity
            android:name=".activity.PickerActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/title_picker_activity"
            android:taskAffinity="" >
        </activity>

        <activity
            android:name=".activity.PathPromptActivity"
            android:label="@string/title_path_prompt_activity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity="" >
        </activity>

        <activity
            android:name=".activity.ConfirmActivity"
            android:label="@string/title_confirmation_activity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity="" >
        </activity>

        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>

    </application>

</manifest>
